@import 'wrapper.module.scss';
@import 'base.module.scss';
@import '/node_modules/sal.js/dist/sal.css';

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 100vh;
  padding: $sectionPadding;
  margin: 0 1rem 0 1rem;
  //overflow: auto;
}

.about::-webkit-scrollbar {
  display: none;
}

.altBackground {
  height: 100%;
}

.split {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;  
}

.leftContainer {
  width: 45%;
  margin: auto 0;
}
.rightContainer {
  margin: auto 0;
  width: 45%;
}
.paragraphLeft {
  padding-top: 3rem;
}

.paragraphRight {
  padding-top: 3rem;
}

.bar {
  border: 1px solid #ABC6D0;
  height: 18em;
}

@media screen and (max-width: 768px) {

  .split {
    flex-direction: column;
  }
  .paragraphLeft {
    width: 100%;
    padding-top: 0;
  }

  .paragraphRight{
    width: 100%;
    padding-top: 0;
  }

  .bar {
    height: 30px;
    border: 2px solid #ABC6D0;
    border-bottom: none;
    border-right: none;
    border-left: none;
  }
}

@media screen and (min-width: 400px) and (max-width: 480px) {
  .paragraphLeft, .paragraphRight {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 375px) {
  .paragraphLeft, .paragraphRight {
    font-size: 0.8rem;
  }
}

@media screen and(max-width: 320px) {
  .paragraphLeft, .paragraphRight {
    font-size: 0.68rem;
  }
}

