@import 'wrapper.module.scss';
@import 'base.module.scss';
@import '/node_modules/sal.js/dist/sal.css';

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $sectionPadding;
  margin: 0 1rem 0 1rem;
}

svg path {
  fill: $accentDarkColor;
}

.bgBoxContainerLeft { 
  position: relative;
}

.bgBoxLeft {
  position: absolute;
  top: -2em;
  z-index: -100;
  height: 12em;
  width: 12em;
  left: -5em;
}

.bgBoxContainerRight {
  position: relative;
}

.bgBoxRight {
  position:absolute;
  top: -3em;
  z-index: -100;
  height: 12em;
  width: 12em;
  left: 20em;
}

.about::-webkit-scrollbar {
  display: none;
}

.altBackground {
  height: 100%;
}

.split {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;  
}

.leftContainer {
  width: 45%;
  margin: auto 0;
}
.rightContainer {
  margin: auto 0;
  width: 45%;
}
.paragraphLeft {
  padding-top: 3rem;
}

.paragraphRight {
  padding-top: 3rem;
}

.bar {
  border: 1px solid #ABC6D0;
  height: 18em;
}

@media screen and (max-width: 1440px) {
  .bgBoxLeft {
    left:-2em;
  }
  .bgBoxRight {
    left: 18em;
    top: -2em;
  }
}

@media screen and (max-width: 1024px) {
  .bgBoxLeft {
    left:-3em;
  }
  .bgBoxRight {
    left: 12em;
  }
}

@media screen and (max-width: 768px) {

  svg path {
    stroke: $accentDarkColor;
    stroke-width: 8;
    fill: none;
  }
  .split {
    flex-direction: column;
  }
  .leftContainer {
    width: 100%;
  }
  .rightContainer { 
    width: 100%;
  }
  .paragraphLeft {
    width: 100%;
    padding-top: 0;
  }

  .bgBoxLeft {
    top: -10em;
    height: 20em;
    width: 20em;
    left: -12em;
  }

  .bgBoxRight {
    left: 26em;
    top: -2em;
    height: 20em;
    width: 20em;
  }

  .paragraphRight{
    width: 100%;
    padding-top: 0;
  }

  .bar {
    height: 30px;
    border: 2px solid #ABC6D0;
    border-bottom: none;
    border-right: none;
    border-left: none;
  }
}

@media screen and (min-width: 400px) and (max-width: 480px) {
  .paragraphLeft, .paragraphRight {
    font-size: 0.9rem;
  }

  .bgBoxRight {
    left: 18em;
  }
}

@media screen and (max-width: 375px) {
  .paragraphLeft, .paragraphRight {
    font-size: 0.8rem;
  }

  .bgBoxRight {
    left: 15em;
  }
}

@media screen and(max-width: 320px) {
  .paragraphLeft, .paragraphRight {
    font-size: 0.68rem;
  }
  .bgBoxRight {
    left: 12em;
    height: 17em;
    width: 17em;
  }
}

