.about {
  font-family: 'Quicksand', 'sans-serif';
  display: flex;
  justify-content: space-between;
  margin: 0 1rem 0 1rem;
  h1 {
    font-family: 'Quicksand', 'sans-serif';
    margin: 0 1rem 0 1rem;
  }
}