@import 'wrapper.module.scss';
@import 'base.module.scss';
@import '/node_modules/sal.js/dist/sal.css';

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 1rem 0 1rem;

}

.paragraphCenter {
  text-align: center;
}
