@import './layout.scss';
@import './base.module.scss';

body {
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
}

.name {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', 'sans-serif';
  font-weight: 500;
  color: $baseTextColor;
  font-size: 6vw;
  letter-spacing: 5px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid $baseTextColor;

  animation: 
    type 2s steps(12), 
    blinker 0.5s step-end alternate infinite 2s,
    removeBorder 1s 3s forwards;
}

h3 {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  font-family: 'Poppins', 'sans-serif';
  font-size: 3vw;
  font-weight: 400;
  color: $accentColor;
  letter-spacing: 2px;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  border-right: 4px solid $baseTextColor;

  animation: 
    invisible 3s, 
    typeh3 2s steps(18) 3s, 
    blinker 0.5s step-end alternate infinite 3s;
}

/* If screen is greater than 480px and less than 796px, dont take whole screen*/
@media screen and (min-height: 480px) and (max-height: 768px) {
  
  h3 {
    animation: 
      invisible 3.2s, 
      typeh3 2s steps(20) 3s, 
      blinker 0.5s step-end alternate infinite 3s;
  }
  
  .name {
    animation: 
      type 2.7s steps(20), 
      blinker 0.5s step-end alternate infinite 2s,
      removeBorder 1s 3s forwards;
  }


}

@media screen and (max-width: 480px) {
  .name {
    font-size: 8vw;
  }

  h3 {
    font-size: 4vw;
  }
}


/* Animations  */

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 12ch;
  }
}

@keyframes typeh3 {
  0% {
    width: 0ch;
  }
  100% {
    width: 18ch;
  }
}

@keyframes invisible {
  0%, 99.9% {
    color: $backgroundColor;
    border-color: $backgroundColor;
  }
  100% {
    color: $baseTextColor;
    border-color: $baseTextColor;
  }
}

@keyframes blinker {
  50% {
    border-color: $backgroundColor
  }
}

@keyframes removeBorder {
  100% {
    border-right: none;
    border-color: $backgroundColor;
  }
}

@keyframes stars {
  0%, 20%, 40%, 60%, 80%, 100%
  {
    opacity: 0;
  }
  10%, 30%, 50%, 70%, 90%
  {
    opacity: 1;
  }
}

@keyframes backgroundMove {
  0%
  {
    transform: scale(1);
  }
  100%{
    transform: scale(2);
  }

}

