@import './layout.scss';
@import './base.module.scss';

body {
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
  overflow: auto;
}

.name {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', 'sans-serif';
  font-weight: 500;
  color: $baseTextColor;
  font-size: 4rem;
  letter-spacing: 5px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid $baseTextColor;

  animation: 
    type 1.5s steps(12), 
    blinker 0.5s step-end alternate infinite 2s,
    removeBorder 1s 1.5s forwards;
}

h3 {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  font-family: 'Poppins', 'sans-serif';
  font-size: 2rem;
  font-weight: 400;
  color: $accentColor;
  letter-spacing: 2px;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  border-right: 4px solid $baseTextColor;

  animation: 
    invisible 1.75s, 
    typeh3 2s steps(18) 1.5s, 
    blinker 0.5s step-end alternate infinite 3s;
}

@media screen and (max-width: 480px) {
  .name {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  .name {
    animation: 
      type 1.3s steps(13), 
      blinker 0.5s step-end alternate infinite 2s,
      removeBorder 1s 1.3s forwards;
  }

  h3 {
    animation: 
      invisible 1.3s, 
      typeh3 1.5s steps(15) 1.3s, 
      blinker 0.5s step-end alternate infinite 3s;
  }
}


/* Animations  */

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 12ch;
  }
}

@keyframes typeh3 {
  0% {
    width: 0ch;
  }
  100% {
    width: 18ch;
  }
}

@keyframes invisible {
  0%, 99.9% {
    color: transparent;
    border-color: transparent;
  }
  100% {
    color: $baseTextColor;
    border-color: $baseTextColor;
  }
}

@keyframes blinker {
  50% {
    border-color: $backgroundColor
  }
}

@keyframes removeBorder {
  100% {
    border-right: none;
    border-color: $backgroundColor;
  }
}

