@import 'base.module.scss';

section {
  display: flex;
  height: 100%;
  margin: 0;
}

// Container for banner image
.container {
  position: relative;
  flex: 1;
  img {
    filter: brightness(0.5);
  }
}

// Banner image text
.centered-text {
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  font-weight: bold;
  position: absolute;
  left: 0;
  transform: translateY(90%);
  width: 100%;
  text-align:center;
  line-height: 1.2;
  h1 {
    font-size: 6vw;
    font-family: 'Quicksand', 'sans-serif';
    letter-spacing: 4px;
  }
  h3 {
    font-family: 'Quicksand', 'sans-serif';
    font-size: 3vw;
    letter-spacing: 2px;
  }
}