@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap');

* {
  font-family: 'Poppins', 'sans-serif';
}

h2 {
    font-family: 'Poppins', 'sans-serif';
    font-size: 5vw;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 2px;
}

p {
  font-size: 1rem;
  color:#ffffff;
}

.heading {
  display: inline-block;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.headingContainer {
  text-align: center;
}

a {
  text-decoration: none;
  color: #A9A9A9;
  margin: 2rem;
}

a:hover {
  color: #ffffff;
}

@media screen and (max-width: 1024px) {

  h2 {
    font-size: 8vw;
  }
}

@media screen and (max-width: 425px) {
  h2 {
    font-size : 12vw;
  }
}