@import 'base.module.scss';

.footer-section {
  background-color: #000000;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  a {
    color: #a9a9a9;
    margin: 2rem;
  }

  a:hover {
    color: #ffffff;
  }

  h1 {
    font-family: 'Poppins', 'sans-serif';
    color: #f2f2f2;
  }
}