@import 'base.module.scss';
@import 'wrapper.module.scss';

body {
  margin: 0;
}

.nav-bar { 
  display: flex;
  background: transparent;
  justify-content: space-evenly;
  font-size: 24px;
  font-weight: 500;
  transition: 0.5s;

  ul {
    z-index: 100;
  }
  
  ul li {
    display: inline;
  }
}

.wrapper {
  max-width: 100%; // so it stretches the whole width
  z-index: 100;
}

.left-bar {
  margin: 1rem;
}

.right-bar {
  margin: 1rem;
}

nav {

  a {
    text-decoration: none;
    color: $linkColor;
    margin: 2rem;
  }
  a:hover {
    color: $hoverLinkColor;
  }
}

.menu {
  display: none;
}

.mobile-menu {
  display: none;

}

.logo {
  width: 20%;
  color: $hoverLinkColor;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  font-weight: 500;
}

@media screen and (max-width: 796px) {

  .nav-bar {
    display: flex;
    font-size: 32px;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    position: fixed;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    top: 0;
    right: 20%;
    background: rgba(0,0,0,0.95);


    ul li {
      margin-bottom: 1.5rem;
      display: block;
    }

    .left-bar {
      display: none;
    }
  }

  .mobile-menu {
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    .menu-btn, .logo {
      z-index: 2
    }

    .menu-btn {
      width: 20%;
      font-size: 1.75rem;
      border: none;
      outline: none;
      display: flex;
      background: none;
      justify-content: center;
      color: $hoverLinkColor;
      text-shadow: 2px 2px 2px $black;
      mix-blend-mode: difference;
      height: 54px;
      align-self: center;
      position: fixed;
      right: 0;
  
      :active {
        outline: none;
      }
    }

    .logo {
      margin: 1rem;
    }
  }


}

