@import 'base.module.scss';
@import 'wrapper.module.scss';

body {
  margin: 0;
}

.navBar { 
  font-family: 'Quicksand', sans-serif;
  display: flex;
  background-color: #000000;
  justify-content: flex-end;
  font-size: 24px;
  
  ul li {
    display: inline;
  }
}

.left-bar {
  justify-content: left;
  margin: 1rem;
}

.right-bar {
  margin: 1rem;
  //justify-content: right;
}

nav {
  a {
    text-decoration: none;
    color: #f2f1ef;
    margin: 2rem;
  }
  a:hover {
    color: #A9A9A9;
  }
}

.menu {
  display: none;
}

@media screen and (max-width: 796px) {
  .navBar {
    display: none;
    font-size: 12px;
    justify-content: center;
    ul li {
      display: list-item;
      margin-bottom: 0.5rem;
    }
  }

  .menu {
    display: flex;
    background: #000000;
    justify-content: center;
    color: #f2f1ef;
    height: 48px;
  }
}

