@import 'base.module.scss';
@import 'wrapper.module.scss';

body {
  margin: 0;
}

.nav-bar { 
  font-family: 'Quicksand', sans-serif;
  display: flex;
  background-color: #000000;
  justify-content: space-between;
  font-size: 24px;
  
  ul li {
    display: inline;
  }
}

.left-bar {
  //justify-content: left;
  margin: 1rem;
}

.right-bar {
  margin: 1rem;
  //justify-content: right;
}

nav {
  a {
    text-decoration: none;
    color: #f2f1ef;
    margin: 2rem;
  }
  a:hover {
    color: #A9A9A9;
  }
}

.menu {
  display: none;
}

.mobile-menu {
  display: none;
}

.logo {
  width: 20%;
  color: #f2f1ef;
  display: flex;
  justify-content: flex-start;
  align-self: center;
}

@media screen and (max-width: 796px) {
  .nav-bar {
    display: none;
    font-size: 14px;
    width: 40%;
    position: absolute;
    right: 0;
    justify-content: center;
    ul {
      //flex-direction: column;
      //flex-flow: wrap;
      //justify-content: flex-end;
    }

    ul li {
      margin-bottom: 1.5rem;
      display: block;
    }

    .left-bar {
      display: none;
    }
  }

  .menu-btn {
    width: 20%;
    border: none;
    outline: none;
    display: flex;
    background: #000000;
    justify-content: center;
    color: #f2f1ef;
    height: 54px;
    align-self: center;

    :active {
      outline: none;
    }
  }

  .mobile-menu {
    background: #000000;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    margin: 1rem;
  }

}

