@import 'wrapper.module.scss';
@import 'base.module.scss';

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0 1rem;
  padding: $sectionPadding;
  height: 100vh;
  //overflow: auto;
}

.tooltip {
  visibility: hidden;
  width: 100%;
  color: $baseTextColor;
  opacity: 0;
  background-color: black;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
  border: 1px solid $accentColor;

  //left: 40%;
  //margin-left: 50%;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.projects::-webkit-scrollbar {
  display: none;
}

.imagesList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .hoverImage {
    border-radius: 5px;
    width: 100%;
    background: transparent;
    margin: 0.1rem 0;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
  }
}

.hoverImage {
  //border: none;
  //opacity: 0.6;
  max-width: 1000px;
  display: block;
  margin: 0;
  height: 200px;
  max-height: 500px;
  object-fit: cover;
  transition: .33s ease;
  //filter: none;
}

.imgContainer {
  position: relative;
  width: 32%;
}

.imgContainer:hover .middle {
  opacity: 1;
}

.imgContainer:hover .hoverImage {
  //opacity: 1;
  transform: scale(1.05);
}

.imgContainer:hover .clickIcon {
  transform: scale(1.5);
}

.imgContainer:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.clickIcon {
  position: absolute;
  top: 15%;
  left: 5%;
  color: $hoverLinkColor;
  z-index: 10;
  transition: .5s ease;
}

@media screen and (max-width: 1920px)
{
  .projects {
    height: 100%;
  }

  .imagesList {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    //flex-direction: column;
    .hoverImage { 
      max-width: 700px;
      height: 250px;
      max-height: 300px;
      opacity: 1;
      filter: grayscale(100%);
    }
  }

  .hoverImage:hover {
    filter: none;
  }

  .clickIcon {
    top: 28%;
    left: 2%;
  }
  
  .imgContainer {
    width: 100%;
  }

  .imgContainer:hover .hoverImage {
    opacity: 0.5;
    transform: scale(1.05);
  }

}

@media screen and (max-width: 768px)
{
  .projects {
    height: 100%;
  }

  .imgContainer {
    width: 85%;
    margin: 0 auto;
  }

  .imagesList .hoverImage {
    filter: none;
  }

  .imagesList {
    display: flex; 
    flex-direction: column;
  }
}