@import "base.module.scss";
@import "wrapper.module.scss";

.project 
{
  height: 100vh;
  margin: 1rem 1rem 5rem 1rem;
  align-items: center;
}

h2 
{
  //margin: 2rem;
  display: flex;
  justify-content: center;
}

.info 
{
  display: flex;
  justify-content: space-evenly;
}

.pic 
{
  max-height: 300px;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.image 
{
  width: 100%;
  display: flex;
  justify-content: center;
}

.hover 
{
  margin: 0;
}

.hover:hover 
{
  text-decoration: underline;
}

@media screen and (max-width: 796px)
{
  .pic {
    max-height: 150px;
  }
}

