@import "base.module.scss";
@import "wrapper.module.scss";

.project {
  height: 100%;
  margin: 5rem 1rem 5rem 1rem;
  align-items: center;
  padding-bottom: 5rem;
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-evenly;
}

.bar {
  border: 1px solid #ABC6D0;
  height: 1.5em;
}

.pic {
  max-height: 500px;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
  width: 100%;
  display: flex;
}

.subheading {
  display: inline-block;
  font-size: 3rem;
  color: $baseTextColor;
  border-top: 2px solid $accentColor;
  border-bottom: 2px solid $accentColor;
  padding-top: 10px;
  padding-bottom: 15px;
}

.list {
  list-style: none;
  justify-content: center;
  margin: 0;
  li {
    color: $baseTextColor;
    font-size: 1rem;
  }
}

.hover {
  margin: 0;
}

.hover:hover {
  text-decoration: underline;
}


@media screen and (max-width: 768px){
  .pic {
    max-height: 300px;
  }

  .subheading {
    font-size: 2rem;
  }

  .list {
    li {
      font-size: 1.5rem;
    }
  }

}

