@import 'wrapper.module.scss';
@import 'base.module.scss';

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0 1rem;
  padding: $sectionPadding;
  height: 100vh;
}


.imagesList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .hoverImage {
    width: 100%;
    background: transparent;
    margin: 0.1rem 0;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
  }
}

.hoverImage {
  border: none;
  opacity: 0.6;
  max-width: 1000px;
  display: block;
  margin: 0;
  height: 200px;
  max-height: 500px;
  object-fit: cover;
  transition: .5s ease;

}

.imgContainer {
  position: relative;
  width: 32%;
}

.imgContainer:hover .middle {
  opacity: 1;
}

.imgContainer:hover .hoverImage {
  opacity: 1;
  transform: scale(1.05);
}

.imgContainer:hover .clickIcon {
  transform: scale(1.5);
}

.clickIcon {
  position: absolute;
  top: 15%;
  left: 5%;
  color: $hoverLinkColor;
  z-index: 10;
  transition: .5s ease;
}

@media screen and (max-width: 1024px)
{
  .imagesList {
    flex-direction: column;
    .hoverImage { 
      max-width: 700px;
      height: 100px;
      max-height: 200px;
      margin: 0.1rem 0;
      opacity: 1;
    }
  }

  .clickIcon {
    top: 28%;
    left: 2%;
  }
  
  .imgContainer {
    width: 100%;
  }

  .imgContainer:hover .hoverImage {
    opacity: 0.5;
    transform: scale(1.05);
  }

}