body {
  margin: 0;
  font-family: 'Quicksand', 'sans-serif';
}

.background {
  height:100vh;
  background-color: #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.centerText {
  text-align: center;
}

.name {
  font-family: 'Quicksand', 'sans-serif';
  font-weight: 700;
  color: #f2f2f2;
  font-size: 6vw;
  letter-spacing: 2px;
}

h3 {
  font-family: 'Quicksand', 'sans-serif';
  font-size: 3vw;
  font-weight: 400;
  color: #f2f2f2;
  letter-spacing: 2px;
}

.indicator {
  position: absolute;
  bottom: 10%;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  
}

.indicator span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  border: none;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  margin: -10px;
  animation: animate 2s infinite;
}

@keyframes animate 
{
  0%
  {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.indicator span:nth-child(1)
{
  top: -10px;
  left: -10px;
  animation-delay: .6s;
}

/* If screen is greater than 480px and less than 796px, dont take whole screen*/
@media screen and (min-height: 480px) and (max-height: 768px) {
  .background {
    height: 100vh;
  }

}

@media screen and (max-width: 480px) {
  .name {
    font-size: 8vw;
  }

  h3 {
    font-size: 4vw;
  }
}
