body {
  margin: 0;
  font-family: 'Quicksand', 'sans-serif';
}

.background {
  height:85vh;
  background-color: #000000;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.centerText {
  text-align: center;
}

.name {
  font-family: 'Quicksand', 'sans-serif';
  font-weight: 700;
  color: #f2f2f2;
  font-size: 6vw;
  letter-spacing: 2px;
}

h3 {
  font-family: 'Quicksand', 'sans-serif';
  font-size: 3vw;
  font-weight: 400;
  color: #f2f2f2;
  letter-spacing: 2px;
}

/* If screen is greater than 480px and less than 796px, dont take whole screen*/
@media screen and (min-height: 480px) and (max-height: 768px) {
  .background {
    height: 70vh;
  }

}

@media screen and (max-width: 480px) {
  .name {
    font-size: 8vw;
  }

  h3 {
    font-size: 4vw;
  }
}
